@use "../abstracts/variables" as *;
.about-heading-text {
  color: #487345;
  font-size: 3.25rem;
  font-family: $header-font;
}

.about-body-text {
  font-size: 1.25rem;
  font-family: $body-font;
}
