@use "../abstracts/variables" as *;
.experience-heading-text {
  font-size: 2.5rem;
  font-family: $header-font;
  color: #385971;
}

.experience-body-text {
  font-size: 1.25rem;
  font-family: $body-font;
}

.experience-main {
  border-right: 1px solid black;
}
