@use "../abstracts/variables" as *;
.hero-profile-img {
  width: clamp(200px, 30vh, 300px);
  height: clamp(200px, 30vh, 300px);
  filter: drop-shadow(15px 15px rgba(0, 0, 0, 0.8));
}

.hero-header-text {
  font-size: 7rem;
}

.hero-body-text {
  font-size: 1.4rem;
}

.hero-text {
  padding: 0;
  margin: 0;
  font-family: $header-font;
  text-align: center;
}

.hero-computer-icons {
  height: 75%;
  max-width: 100vw;
  padding: 0%;
}

body {
  min-width: fit-content;
}
