@media screen and (max-width: 953px) {
  .section {
    height: clamp(1100px, 90vh, 100vh);
    width: 100vw;
  }
  .section-bottom {
    height: 10vh !important;
  }
}

@media screen and (max-width: 500px) {
  .hero-header-text {
    font-size: clamp(3rem, 70vw, 4rem);
  }
}
